.row
  %br
  .col-lg-2

  .col-lg-8
    %br



    %br
    .Photo
      - @posts.each do |post|
        %br
        .top
          = link_to 'Show', post
          = link_to 'Edit', edit_post_path(post)
          = link_to 'New Post', new_post_path
        %br
        %br
        = image_tag post.photo, size: '800x600'

        .user
          %br
          = "User:"
          = post.user_id
        %center
          .description
            = post.description
        %br
        %center
          .Comment
            Comments









    %br

    %br
  .col-lg-2









